<!doctype html>
<html lang="en" ng-app='LunchCheck'>
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .label { margin-bottom: 1em; display: inline-block; }
      .text-success {color:red;}
      .text-fail {color:green;}
    </style>
  </head>
<body>
   <div class="container" ng-controller='LunchCheckController'>
     <h1>Lunch Checker</h1>

         <div class="form-group" ng-class="{ 'has-success': styleOne, 'has-error': styleTwo }">
             <input id="lunch-menu" type="text" ng-model="dishes"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">
         </div>
         <span class="label label-danger">We do not consider the empty item for the Count.</span>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkIfTooMuch(dishes)">Check If Too Much</button>
         </div>
         <div class="form-group message" ng-class="{ 'text-success': styleTwo, 'text-fail': styleOne }">
           {{message}}
         </div>
   </div>

<script src="scripts/angular.min.js"></script>
<script src="scripts/app.js"></script>

</body>

</html>